@page "/DataView"
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<YourDbContext> DbContextFactory

<h1>Data View</h1>

@if (Employees == null)
{
    <p><em>Loading...</em></p>
}
else if (!Employees.Any())
{
    <p>No employee records found.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
				<th>Work ID</th>
                <th>Name</th>
                <th>Family Name</th>
                <th>User Page</th>
              
              
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Employees)
            {
                <tr>
                     <td>@employee.WorkID</td>
                    <td>@employee.Name</td>
                    <td>@employee.FamilyName</td>
                    <td>
                        <a href="@employee.UserPage" target="_blank">View</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Employee> Employees;

    protected override async Task OnInitializedAsync()
    {
        using var context = DbContextFactory.CreateDbContext();
        Employees = await context.Employees.ToListAsync();
    }
}
