@page "/login"
@attribute [AllowAnonymous]
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject TestDataDbContext TestDataContext
@inject AuthService AuthService


<EditForm Model="loginModel" OnValidSubmit="HandleLogin" FormName="LoginForm">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <AntiforgeryToken />

    <div>
        <label>Username:</label>
        <InputText @bind-Value="loginModel.Username" />
    </div>
    <div>
        <label>Password:</label>
        <InputText @bind-Value="loginModel.Password" type="password" />
    </div>

    <button type="submit">Login</button>
</EditForm>


@code {
    private LoginModel loginModel = new LoginModel();

    private async Task HandleLogin()
    {
        var success = await AuthService.Login(loginModel.Username, loginModel.Password);
        if (success)
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            // Display error message
        }
    }

    public class LoginModel
    {
        [Required]
        public string Username { get; set; }
        [Required]
        public string Password { get; set; }
    }
}
